[package]
name = "scriptshield-luau-sgx"
version = "0.1.0"
edition = "2021"

[dependencies]
libc = "0.2"

[[bin]]
name = "app"
path = "src/main.rs"

[profile.release]
panic = "abort"
lto = true
codegen-units = 1
opt-level = "s"